<% if @customers.count == 0 %>
 <h5 class="text-center list-group-item-info mb-5">検索結果がありませんでした</h5>
<% end %>
<!--<div class="card-list-container py-5">-->
<!--  <div class="card w-50 mx-auto mt-4 shadow-lg">-->
    <div class="card-body">
      <div class="text-center">
          <% @customers.each do |c| %>
            <td><%= image_tag c.get_profile_image(50,50), class:"rounded-circle"; %></td>
            <td><%= link_to c.name, public_customer_path(c) %></td>
            <td>フォロー数: <%= c.followings.count %></td>
            <td>フォロワー数: <%= c.followers.count %></td>
          <% end %>
      </div>
    </div>
<!--  </div>-->
<!--</div>-->
<%#= paginate @customers %>
