<% if @posts.count == 0 %>
 <h5 class="text-center list-group-item-info mb-5">検索結果がありませんでした</h5>
<% end %>
<%= render "public/posts/list", posts: @posts, today: @today, now: @now %>
<div class="card-body">
</div>