<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<%= render "public/posts/list", posts: @posts, today: @today, now: @now %>