<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= image_tag @customer.get_profile_image(100,100), class:"rounded-circle"; %>
          <%= @customer.name %>
          <p class="card-title">
            <%= simple_format(@customer.introduction) %>
          </p>
          <%= link_to "会員編集", edit_admin_customer_path(@customer.id), class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>