<% if post.favorited_by?(current_customer) %>
  <%= link_to public_post_favorites_path(post), method: :delete, remote: true do %>
    <h3><i class="fas fa-heart "></i> <%= post.favorites.count %></h3>
  <% end %>
  <% else %>
  <%= link_to public_post_favorites_path(post), method: :post, remote: true do %>
    <h3><i class="far fa-heart"></i> <%= post.favorites.count %></h3>
  <% end %>
<% end %>